@{
    ViewData["Title"] = "Home Page";
}
@using crudelicious.Models
@model Dish
<style>
    
 .jumbotron{
            background-image: url("img/wood2.png");
            background-size: cover;
            text-align: center;
}
.btn{
    text-align: center;




}
    
</style>

<div class="jumbotron">
    <h1 class="display-4">@Model.Name</h1>
    <h2>By: @Model.Chef</h2>
</div>
<div class="body">

    <div class="card" style="width: 69.5rem;">
        <div class="card-header">
            <h5>@Model.Name</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Calories: @Model.Calories</li>
            <li class="list-group-item">Tastiness Level: @Model.Tastiness</li>
            <li class="list-group-item">@Model.Description</li>
            <li class="list-group-item"><a href="/edit/@Model.id" class="btn btn-secondary">Edit</a>
            <a href="/delete/@Model.id" class="btn btn-secondary">Delete</a></li>
        </ul>
    </div>



    
</div>
